@model GuacosTracker3.Models.Customer

<div class="row my-3">
    <div class="col">
        <form asp-action="Create">
            <div class="form-group text-danger">(*) Required</div>

            <div class="d-flex gap-3">
                <div class="form-group flex-grow-1">
                    <label asp-for="FName" class="control-label"></label> <span class="text-danger">*</span>
                    <input asp-for="FName" class="form-control" />
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>
                <div class="form-group flex-grow-1">
                    <label asp-for="LName" class="control-label"></label> <span class="text-danger">*</span>
                    <input asp-for="LName" class="form-control" />
                    <span asp-validation-for="LName" class="text-danger"></span>
                </div>
                <div class="form-group flex-grow-1">
                    <label asp-for="Phone" class="control-label"></label> <span class="text-danger">*</span>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AltPhone" class="control-label"></label>
                <input asp-for="AltPhone" class="form-control" />
                <span asp-validation-for="AltPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row my-3">
    <div class="col">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
