@{
    ViewData["currentController"] = ViewContext.RouteData.Values["controller"]?.ToString();
    ViewData["Page"] = ViewData["page"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Page"]</title>
    <meta name="theme-name" content="mono" />

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link id="main-css-href" rel="stylesheet" href="~/css/style.css" />
</head>

<body class="navbar-fixed sidebar-fixed" id="body">
    <div id="toaster"></div>

    <div class="wrapper">
        <partial name="_NavbarPartial" model=@ViewData["currentController"] />

        <div class="page-wrapper">
            <header class="main-header" id="header">
                <nav class="navbar navbar-expand-lg navbar-light px-3" id="navbar">
                    <span class="page-title">dashboard</span>
                </nav>
            </header>

            <div class="content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer mt-auto">
                <div class="copyright bg-white">
                    <span>&copy; <span id="copy-year"></span> Joseph Salcedo</span>
                </div>
            </footer>

        </div>
    </div>

    <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").textContent = year;
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
