@using Microsoft.AspNetCore.Identity
@using GuacosTracker3.Areas.Identity.Data

@inject SignInManager<TrackerUser> SignInManager
@inject UserManager<TrackerUser> UserManager

<ul class="d-flex">
    @if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value != null)
    {
        <li class="p-1">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Profile">
                <img src="~/svg/icons/account-circle-outline.svg" height="24" width="24" class="fill-white me-2" />
            </a>
        </li>

        <li class="p-1">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">
                <img src="~/svg/icons/logout.svg" height="24" width="24" class="fill-white me-2" />
            </a>
        </li>

    }
    else
    {
        <li class="w-100 align-items-center">
            <a class="btn btn-secondary text-white p-2" asp-controller="Account" asp-action="Login">
                <img src="~/svg/icons/login.svg" height="24" width="24" class="fill-white me-2" />
                <span>Login</span>
            </a>
        </li>
    }
</ul>
