@using Microsoft.AspNetCore.Identity
@using GuacosTracker3.Areas.Identity.Data

@inject SignInManager<TrackerUser> SignInManager
@inject UserManager<TrackerUser> UserManager

<ul class="d-flex">

    @if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value != null)
    {
        <li class="">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Profile"><i class="mdi mdi-account-circle"></i></a>
        </li>

        <li class="">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Logout"><i class="mdi mdi-logout"></i></a>
        </li>

    }
    else
    {
        <li class="w-100 align-items-center">
            <a class="btn btn-secondary text-white" asp-controller="Account" asp-action="Login">
                <i class="mdi mdi-login"></i>
                <span>Login</span>
            </a>
        </li>
        
    }
</ul>

