@model TicketViewModel
@using GuacosTracker3.SharedData
@*@using static GuacosTracker3.Controllers.CustomersController*@

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>



<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Tickets" asp-action="Create" asp-route-id="@Model.CustomerId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tickets.CustomerId" class="control-label"></label>
                <input asp-for="Tickets.CustomerId" class="form-control" value="@Model.CustomerId" readonly/>
                <span asp-validation-for="Tickets.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tickets.Title" class="control-label"></label>
                <input asp-for="Tickets.Title" class="form-control" />
                <span asp-validation-for="Tickets.Title" class="text-danger"></span>
            </div>
            <div class="form-group"> @*Should be automatically pulled like CustomerID*@
                <label asp-for="Tickets.EmployeeId" class="control-label"></label>
                <input asp-for="Tickets.EmployeeId" class="form-control" />
                <span asp-validation-for="Tickets.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tickets.Description" class="control-label"></label>
                <textarea asp-for="Tickets.Description" class="form-control"></textarea>
                <span asp-validation-for="Tickets.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tickets.Status" class="control-label"></label>
                <select asp-for="Tickets.Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusList>()">
                    </select> @*for drop down for status*@
                @*<input asp-for="Status" class="form-control" />*@
                <span asp-validation-for="Tickets.Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="control-label">
                    <input class="form-check-input mt-2" asp-for="Tickets.Priority" /> @Html.DisplayNameFor(model => model.Tickets.Priority)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Customers" asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
