@using GuacosTracker3.SharedData
@model GuacosTracker3.Models.ViewModels.EditTicketViewModel

<div class="row my-3">
    <div class="col">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CustomerID" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
                <span><span id="title-characters" class="text-danger">0</span>/100</span>
            </div>
            <div class="form-group">
                <label asp-for="Customer" class="control-label"></label>
                <input asp-for="Customer" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" disabled />
            </div>
            <div class="d-flex gap-4">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input asp-for="IsPriority" class="form-check-input"/><span>Priority?</span>
                    </label>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input asp-for="IsClosed" class="form-check-input"/><span>Closed?</span>
                    </label>
                </div>
            </div>
            <button type="submit" value="Save" class="btn btn-primary">Save</button>
        </form>

    </div>
</div>

<div class="row my-3">
    <div class="col">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<script src="~/js/trackText.js"></script>
<script src="~/Ticket/static/CustomerTable.js"></script>
<script src="~/Ticket/static/getCustomerInfo.js"></script>

<script>
    trackText('Title', 'title-characters', 10, 4000);
</script>
